{% extends 'base.html' %}

{% block title %} Task List {% endblock %}

{% block content %}

<div style="display: flex;">
    <hr style="flex-grow: 1;">
    <h2 style="text-align: center; margin: 0 10px; margin-bottom: 8px;">Task Details</h2>
    <hr style="flex-grow: 1;">
</div>

<div class="row justify-content-center align-items-center">
  <div class="col-md-6 my-4">
<ul class="list-group">
    <li class="list-group-item"><strong>Title: </strong>{{ task.title }}</li>
    <li class="list-group-item"><strong>Description: </strong>{{ task.description }}</li>
    <li class="list-group-item"><strong>Creation Date: </strong>{{ task.created_at }}</li>
    <li class="list-group-item"><strong>Due Date: </strong>{{ task.due_date }}</li>
    <li class="list-group-item"><strong>Priority: </strong>{{ task.priority }}</li>
    <li class="list-group-item"><strong>Last Update Date: </strong>{{ task.updated_at }}</li>
    <li class="list-group-item"><strong>Task Creator: </strong>{{ task.user }}</li>
    <li class="list-group-item"><strong>Is Complete: </strong>{{ task.completed }}</li>
  </ul>
  </div>
</div>
<div class="mt-4">
    {% if task.user == request.user %}
    <a style="border: 1px solid #C0C0C0;" href="{% url 'task_update' task.id %}" class="btn btn-light"><sub><ion-icon name="create-outline" style="font-size: 20px;"></ion-icon></sub> Edit</a>
    <a style="border: 1px solid #C0C0C0;" href="{% url 'confirm_delete_task' task.id %}" class="btn btn-light"><sub><ion-icon name="close-circle-outline" style="font-size: 20px;"></ion-icon></sub> Delete</a>
    {% endif %}
</div>

<div style="display: flex;">
    <hr style="flex-grow: 1;">
    <h2 style="text-align: center; margin: 0 10px; margin-bottom: 8px;">Task Photos</h2>
    <hr style="flex-grow: 1;">
</div>

<div class="image">
    <div class="row">
        {% for taskphoto in task.taskphoto_set.all %}
            <div class="col-md-4">
                <div class="image-container">
                    <img src="{{ taskphoto.photo.url }}" alt="Task Photo" class="img-thumbnail">
                    {% if request.user == task.user %}
                        <a href="{% url 'delete_photo' task_id=task.id photo_id=taskphoto.id %}" class="btn btn-light">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}